<footer class="footer-background">
  <div class="container-footer-button">
    <a href="#start-page" class="footer-button" title="Start page" aria-label="Start page"><img src="./assets/images/ico-arrow.svg"
        alt="scroll down"></a></div>


  <div class="container footer-container">

   
      <nav class="container categories">
        <ul class="ul-categories">
          <li><a href="https://adalab.es/" title="Articles" aria-label="Articles">Articles</a></li>
          <li><a href="https://adalab.es/" title="Books" aria-label="Books"></a>Books</a></li>
          <li><a href="https://adalab.es/" title="Events" aria-label="Events">Events</a></li>
          <li><a href="https://adalab.es/" title="Reasons" aria-label="Reasons">Reasons</a></li>
          <li><a href="https://adalab.es/" title="Tips" aria-label="Tips">Tips</a></li>
        </ul>
      </nav>



      <div class="container social-networks">
        <ul class="ul-social-networs">
          <li><a href="https://adalab.es/" title="Twitter" aria-label="Twitter">Twitter</a></li>
          <li><a href="https://adalab.es/" title="Instagram" aria-label="Instagram">Instagram</a></li>
          <li><a href="https://adalab.es/" title="Mastodon.social" aria-label="Mastodon.social">Mastodon.social</a></li>
        </ul>
      </div>

      <small>&copy;2017<br>we<span class="heart">❤︎</span>components</small>

    </div>
  


  </div>

</footer>
