.hero-container {
  height: 100%;
  width: 100%;

  .hero-background {
    height: 100vh;
    background: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }



  .hero-text-button {
    height: 100%;
    width: 100%;
    color: $color-background-main;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 53px;



    & h1 {
      font-size: 42px;
      font-family: $font-primary;
      line-height: 55px;
    }

    & p {
      font-size: 16px;
      font-family: $font-secundary;
      padding-bottom: 53px;
    }

    & .hero-button {
      height: 45px;
      width: 45px;
      background-color: $color-background-main;
      background: white;
      border-radius: 50px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;


      img {
        size: 100%;
      }
    }

  }
}


@media (min-width: 768px) {
  .hero-container {
    .hero-text-button {
      & h1 {
        font-size: 80px;
        line-height: 106px;
       
      }

      & p {
        font-size: 24px;
        padding-bottom: 53px;
      }
    }
  }
}
