$font-primary: 'Roboto Slab', ;
$font-secundary: 'Roboto', ;

$color-details: #f26002;
$color-background-main: white;
$color-background-options: #eff9ff; 
$color-background-footer:#304268;
$color-font-clair: $color-background-options;
$color-font-dark: black;
